/* 
a:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px; 
    text-transform: capitalize;
} 
.jumbotron{
    background-image: linear-gradient(to left, rgb(253, 122, 122), rgb(251, 207, 124), rgb(101, 198, 101), rgb(105, 105, 214), rgb(198, 106, 198));
}
.fluid-container{
    padding: 20px;
    text-align: center;
}
.logo{
    text-align: left;
    margin-top: 0;
}
.nav-bar{
    text-align: end;
}
.iframe-container{
    display: flex;
    text-align: left;
    padding-top: 40px;
} 
h3{
    justify-content: end;
} */

/styles do not get rid of

/* navbar */
.navbar-nav{
    text-align: left;
}
.nav-link{ 
    width: 100px;
    list-style-position: inside;
}
.navbar {
    margin-top: 0;
    position: relative;
}
.logo {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.508);
    margin-right: 70px;
    position: absolute;
    left: 50%;
    margin-left: -180px;  /* 50% of your logo width */
    display: block;
    opacity: 0.2;
}
.logo:hover {
    width: 400px;
    height: 50px;
    margin-top: 5px;
    margin-left: -250px;
}

/* body/main */
body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to left, rgb(249, 216, 216), #f7e2bb, rgb(179, 197, 179), rgb(167, 167, 211), rgb(229, 197, 229));
    text-align: center;
    margin: 0;
    padding: 0;
}
.top-nav-bar{
    text-align: end;
}
h5{
    margin-top: 20px;
}
h5:hover{
    font-size: 26px;
    opacity: .6;
    text-transform: capitalize;
    margin-top: 10px;
}
#Email{
    margin-left: 6px;
}

.form-text{
    margin: 12px;
}
.btn{
    margin: 5px;
    background-color: green;
}

/* footer */
.footer{
    align-items: center;
}
/Rod reel css
.col-50 {
    flex: 1;
}
.product-img {
    height: 250px;
    overflow: hidden;
    position: relative;
}

.product-img img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-info {
    text-align: center;
    margin-top: 80px;
}

.product-info h2 {
    text-align: center;
}

.product-price {
    font-weight: bold;
}
.rod{
    margin: 15px;
    width: 100%;
    height: auto;
}
  .img1 {
    margin-bottom: 5px;
} 
.img2 {
    margin-bottom: 5px;
} 
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary{
    background-color: green;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-primary:hover{
    background-image: linear-gradient(to left, rgb(249, 216, 216), #f7e2bb, rgb(179, 197, 179), rgb(167, 167, 211), rgb(229, 197, 229));
}
.reel{
    margin-left: 15px;
    width: 100%;
    height: auto;
}
/* /contact css /style="display:flex; justify-content: center;" */
.contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
